* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background: #fff;
    min-height: 200vh;
    font-family: 'Poppins', sans-serif;
}

.aboutdiv {
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.mainbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainbody .logopassagediv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.mainbody .logopassagediv img {
    margin-top: 2rem;
    width: 50%;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.30); */
}

.mainbody .logopassagediv p {
    text-align: center;
    padding: 0px 24px 0px 24px;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 500;
}


.mainbody .achievementsdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.mainbody .achievementsdiv span {
    font-size: 1.6rem;
    text-decoration: underline;
    font-weight: 500;
}

.mainbody .achievementsdiv .infodiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

}

.mainbody .achievementsdiv .infoitem {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 600px;
}

.mainbody .achievementsdiv .infodiv .infoitem img {
    width: 300px;
    height: 300px;

}

.mainbody .achievementsdiv .infodiv .infoitem span {
    font-size: 1.3rem;
    font-weight: 500;
}

.mainbody .achievementsdiv .infodiv .infoitem p {
    
    font-size: 1rem;
    line-break: auto;
    text-align: center;
}





/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    /* NAVBAR */
    /* NAVBAR */
    .container-nav {
        width: 100%;
    }

    header {
        position: fixed;
        background: white;
    }

    header .logo {
        margin-left: 0px;
        font-size: 1.2em;
    }

    nav li {
        margin: 0.3rem;
    }

    header div nav ul li {
        font-size: 1.2rem;
    }

    header div nav ul {
        margin-top: 10px;
    }

    /* NAVBAR */
    /* NAVBAR */

    .mainbody .logopassagediv img {
        margin-top: 2rem;
        width: 100%;
    }

    .mainbody .logopassagediv p {
        text-align: center;
        padding: 0px 24px 0px 24px;
        white-space: pre-wrap;
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 500;
    }


    .mainbody .achievementsdiv .infodiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.4rem;
    }

    .mainbody .achievementsdiv .infoitem {
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        width: 100%;
        justify-content: center;

        min-height: fit-content;
    }

    .mainbody .achievementsdiv .infodiv .infoitem span {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }

    .mainbody .achievementsdiv .infodiv .infoitem p {
        margin-top: 1rem;
        font-size: 0.8rem;
        line-break: auto;
        text-align: center;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }


}

/* Media Query for Tablets Ipads portrait mode */
/*@media (min-width: 768px) and (max-width: 1024px) {}*/
@media (min-width: 481px) and (max-width: 1024px) {
    .container-nav {
        width: 100%;
    }

    header {
        position: fixed;
        background: white;
    }

    header .logo {
        margin-left: 0px;
        font-size: 1.6em;
    }

    nav li {
        margin: 0.4rem;
    }

    header div nav ul li {
        font-size: 1.4rem;
    }

    header div nav ul {
        margin-top: 10px;
    }
    .aboutdiv {
        display: flex;
        width: 100%;
        padding-top: 120px;
        justify-content: center;
        align-items: center;
    }

    body{
        min-height: 180vh;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}