<!-- BASE HTML -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% block style %}
    {% endblock style %}
</head>

<body class="font-mono">
    <!-- Full screen Navbar -->
    <header>
        <div class="container container-nav">
            <div class="logodiv">
                <img src="{% static 'images/logo_main.png' %}" alt="" class="imglogo">
                <a href="" class="logo">Kadlag Investment</a>
                <label for="check" class="pc-hide" id="nav-open-close" onclick="toggleNavBtn()">
                    <input type="checkbox" id="check" />
                    <span class="crosselem"></span>
                    <span class="crosselem"></span>
                    <span class="crosselem"></span>
                </label>
            </div>

            <nav class="navMain phone-hide">
                <ul class="phone-hide navUl">
                    <li><a href="{% url 'Home:HOME' %}">Home</a></li>
                    <li>
                        <div class="dropdown">
                            <!-- <input type="text" name="" id="" class="textBox" placeholder="Services" readonly> -->
                            <span class="textBox">Services</span>
                            <div class="option">

                                <div class="serviceitem" onclick="show('Mutual Funds')">
                                    <div class="optionimageicon" onclick="scrollToDiv('mutualfunddiv1')">
                                        <img src="{% static 'images/mutuicon2.png' %}" alt="" class="optionimage">
                                        Mutual Funds
                                    </div>
                                </div>
                                <!-- <div class="serviceitem" onclick="show('PMS')">
                                    <div class="optionimageicon">
                                        <img src="{% static 'images/funding.png' %}" alt="" class="optionimage">
                                        PMS
                                    </div>
                                </div> -->

                                <div class="serviceitem" onclick="show('Insurance')">
                                    <div class="optionimageicon" onclick="scrollToDiv('insurancediv1')"><img
                                            src="{% static 'images/insurance.png' %}" alt="" class="optionimage">Life
                                        Insurance</div>
                                </div>
                                <div class="serviceitem" onclick="show('Mediclaim')">
                                    <div class="optionimageicon" onclick="scrollToDiv('mediclaimdiv1')"><img
                                            src="{% static 'images/mediclaim.png' %}" alt=""
                                            class="optionimage">Mediclaim</div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'Home:ABOUT_US' %}">About</a></li>
                    <li><a href="{% url 'Home:CONTACT_US' %}">Contact Us</a></li>
                </ul>
            </nav>

        </div>
    </header>

    {% block body %}
    {% endblock body %}
    <script>
        function toggleNavBtn() {
            let navCheckbox = document.getElementById("check");
            let nav = document.getElementsByClassName("navMain");
            let navUl = document.getElementsByClassName("navUl");
            if (navCheckbox.checked == 1) {
                console.log(true)
                nav[0].style.display = "flex"
                navUl[0].style.display = "flex"
            } else {
                console.log(false)
                nav[0].style.display = "none"
                navUl[0].style.display = "none"
            }
        }
        function show(anything) {
            document.querySelector(".textBox").value = anything
        }
        let dropdown = document.querySelector('.dropdown')
        dropdown.onclick = function () {
            dropdown.classList.toggle('active')
        }
        window.addEventListener("scroll",
            function () {
                var header = document.querySelector("header");
                var navcross = document.getElementsByClassName("crosselem");
                header.classList.toggle("sticky", window.scrollY > 0);
                navcross[0].classList.toggle("navspanblack", window.scrollY > 0);
                navcross[1].classList.toggle("navspanblack", window.scrollY > 0);
                navcross[2].classList.toggle("navspanblack", window.scrollY > 0);
            })
        {% block script %}
        {% endblock script %}
    </script>
</body>

</html>