@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background: #fff;
    min-height: 200vh;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 60px;
    z-index: 10000;
}

.navspanblack {
    background: white;
}

.navMain {
    display: flex;
}

.pc-hide {
    display: none;
}

.phone-hide {
    display: flex;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logodiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}


.imglogo {
    width: 48px;
    height: 48px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;

}



@media (max-width: 640px) {
    .pc-hide {
        display: flex;
    }

    .phone-hide {
        display: none;
    }

    header {
        position: relative;
    }

    .container {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.4em 0;
    }

    .logodiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 0px;
        gap: 10px;
    }

    /* Hamburger CSS */
    label {
        display: flex;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
    }

    label span {
        background: black;
        border-radius: 10px;
        height: 5px;
        margin: 3px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }


    span:nth-of-type(1) {
        width: 50%;

    }

    span:nth-of-type(2) {
        width: 100%;
    }


    span:nth-of-type(3) {
        width: 75%;

    }


    input[type="checkbox"] {
        display: none;
    }


    input[type="checkbox"]:checked~span:nth-of-type(1) {
        width: 70%;
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px)
    }


    input[type="checkbox"]:checked~span:nth-of-type(2) {

        transform-origin: top;
        transform: rotatez(-45deg)
    }


    input[type="checkbox"]:checked~span:nth-of-type(3) {

        transform-origin: bottom;
        width: 70%;
        transform: translate(10px, -11px) rotatez(45deg);

    }

    /* Hamburger CSS */
    .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown.active .option {
        display: flex;
        width: 260px;
        position: absolute;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.10);
    }
}



header .logo {
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 6px;
}

header div nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div nav ul li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

header div nav ul li a {
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}


header div nav ul li a::after {
    content: "";
    bottom: 0px;
    position: absolute;
    height: 2px;
    background-color: black;
    left: 0;
}

header div nav ul li a:hover::after {
    animation: stylishunderline 1s;
}


.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

header.sticky {
    background: #000;
}

header.sticky .logo,
header.sticky ul li a {
    color: #fff;
}


.dropdown {
    position: relative;
    width: 150px;
    height: 50px;
    color: #000;
}

.dropdown::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 20px;
    top: 15px;
    z-index: 10000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 25px;
    transform: rotate(-225deg);
}

.dropdown span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.00);
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 10px;
    color: #000;
    text-align: start;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 2px;

}

.dropdown .option {
    position: absolute;
    top: 60px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    text-align: start;
}

.dropdown.active .option {
    display: block;
    width: 260px;
}

.dropdown .option div {
    padding: 10px 12px;
    cursor: pointer;

}

.dropdown .option div:hover {
    background: #62baea;
    color: white;
}

.dropdown .option img {
    position: relative;
    top: 4px;
    width: 24px;
    height: 24px;
    margin: 0px 10px 0px 0px;
}




/* ipad */
@media all and (min-width: 768px) and (max-width: 1200px) {
    .pc-hide {
        display: flex;
    }

    .phone-hide {
        display: none;
    }

    header {
        position: fixed;
    }

    .container {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        font-size: 2rem;
    }

    nav li {
        margin: 0.4em 0;
    }



    .logodiv {
        display: flex;
        flex-direction: row;
        padding: 12px;
        gap: 60px;
    }

    .logodiv img {
        width: 60px;
        height: 60px;
    }

    /* Hamburger CSS */
    label {
        display: flex;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
    }

    label span {
        background: black;
        border-radius: 10px;
        height: 5px;
        margin: 3px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }


    span:nth-of-type(1) {
        width: 50%;

    }

    span:nth-of-type(2) {
        width: 100%;
    }


    span:nth-of-type(3) {
        width: 75%;

    }


    input[type="checkbox"] {
        display: none;
    }


    input[type="checkbox"]:checked~span:nth-of-type(1) {
        width: 70%;
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px)
    }


    input[type="checkbox"]:checked~span:nth-of-type(2) {

        transform-origin: top;
        transform: rotatez(-45deg)
    }


    input[type="checkbox"]:checked~span:nth-of-type(3) {

        transform-origin: bottom;
        width: 70%;
        transform: translate(10px, -11px) rotatez(45deg);

    }

    /* Hamburger CSS */
    .dropdown {
        display: flex;
        justify-content: center;
    }

    .navMain {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        z-index: 3000;
        background: white;
        margin-top: 120px;
    }

    .dropdown.active .option {
        display: flex;
        width: 500px;
        position: absolute;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.10);
    }

    .navspanblack {
        background: white;
    }
}

/* laptop */
@media(min-width: 1200px) {}

@keyframes stylishunderline {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0%;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }

}

/* Navbar End*/

/* main body */